.movie-card {
 width: 241px;
  height: 318px;
}

.poster {
  position: relative;
  width: 241px;
  height: 274px;
}

.poster > img {
  width: 100%;
  height: 100%;
  display: block;     
  border-radius: 12px;
  object-fit: cover;
}

.bookmark-btn {
  position: absolute;
  top: 8px;        
  right: 8px;          
  display: flex;
  padding: 4px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);  
  cursor: pointer;
}

.bookmark-btn img {
  width: 24px;
  height: 24px;
}

.title {
    font-weight: 800;   
}