.header {
    display: flex;
    align-items: center;
    height: 91px;
    gap: 12px;
    padding: 16px 30px;
    max-width: 1301px;   
    margin: 0 auto;  
    
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-icon {
    width: 32px;
    height: 32px;
    border: 2.5px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.logo-icon img {
    width: 20px;
    height: 20px;
}

.logo h1 {
    margin: 0;           
    font-size: 24px;
    font-weight: 800;    
    letter-spacing: -0.5px;   
}

.header button {
    height: 43px;
}
.header button:first-of-type {
    margin-left: auto;
    border-radius: 8px;
    width: 43px;
}

.header p {
    margin-left: 16px;
}

.header .login {
    background-color: #2563EB;
    color: white;
    border-radius: 8px;
    width: 72px;
    font-weight: 500;
}