.movie-card {
    width: 241.6px;
}

.movie-poster {
    display: block;
    width: 241.6px;
    height: 274px;
    object-fit: cover;
    border-radius: 8px;
}

.movie-title {
    margin: 8px 0 4px;
    font-size: 14px;
    font-weight: 800;
    text-align: left;
}

.movie-release-date {
    margin: 0;
    font-size: 12px;
    color: #6b7280;
    text-align: left;
}

.poster-wrapper {
    position: relative;
}

.bookmark-button {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;
    padding: 0;

    border-radius: 8px;
    cursor: pointer;
}

.bookmark-button.not-bookmarked {
    background-color: rgba(17, 24, 39, 0.8);
    border: 1px solid white;
}

.bookmark-button.bookmarked {
    background-color: #2563eb;
    border: none;
}

.bookmark-button img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}